.Body {
    max-width: 1400px;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.body-flex {
    background: rgb(219, 199, 196);
    padding: 5px;
    width: auto;
    height: auto;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.header {
    height: 100px;
    text-align: center;
    background-color: #edf3ee;
    margin: 0;
    padding: 0;
    font-size: larger;
}

#aboutmesidebar {
    padding: 10px;
    font-size: medium;
}

#worksidebar {
    padding: 10px;
    font-size: medium;
}

#contactmesidebar {
    padding: 10px;
    font-size: medium;
}

.pagesection{
    background-color: #edf3ee ;
}

.Portfolio-section{
    display: flex;
    flex-wrap: wrap;
  justify-content: flex-start;

}

#Project1{
    height: 600px;
    width: auto;
}
#Project2{
    height: 300px;
    width: auto;
}

#Project3{
    height: 300px;
    width: auto;
}

.PF-Title {
    
    position: relative;
    margin-top: -50px;
    margin-left: 350px;
    text-align: center;
    width: 450px;
    height: 56px;
    border: 3px solid black;
    background-color: rgb(244, 244, 244);
    box-shadow: 10px 5px 5px rgb(120, 75, 75);
    resize: both;
    overflow: auto;
}

.PF-Title1 {
    position: relative;
    margin-top: -50px;
    margin-left: 350px;
    text-align: center;
    width: 450px;
    height: 56px;
    border: 3px solid black;
    background-color: rgb(219, 199, 196);
    box-shadow: 10px 5px 5px rgb(120, 75, 75);
    resize: both;
    overflow: auto;
}


@media screen and (min-width 1500px) {
    .Body{background-color: aqua;}
}
@media screen and (min-width 500px) {
    .Body{background-color: blueviolet;
    }}